<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true">
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<jmxConfigurator />

	<appender name="RISEFINTECH-APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/invoicechoice-engine/app.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} - %msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/invoicechoice-engine/archived/app.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>

	<logger name="org.springframework" level="WARN" additivity="false">
		<appender-ref ref="RISEFINTECH-APPENDER" />
	</logger>

	<logger name="com.wrkspot.scheduler" level="WARN" additivity="false">
		<appender-ref ref="RISEFINTECH-APPENDER" />
	</logger>

	<root level="error">
		<appender-ref ref="RISEFINTECH-APPENDER" />
	</root>

</configuration>